{% extends 'layout/_layout.twig' %}
{% block script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ basePath() }}/js/custom/report.js"></script>
{% endblock script %}
{% block style %}
	{{ parent() }}
.form-check-label p {
	margin: 0;
}
{% endblock style %}

{% block body %}


	{{ headTitle(entity.title) }}
	<ng-controller
		ng-controller="_ProcessReportCtrl" 
		ng-init="init({{ json(hal().renderEntity(hal)) | escape }}, {{ values | json_encode }})"
  	>
		<div class="">
			<div class="d-flex flex-fill">
				<h2 class="mr-auto">{[ process.title ]} <small class="text-muted">nº{[process.number]} | Report</small></h2>
				<div class="ml-auto align-self-center">
					<a href="{[ process.user.links.getHref() ]}" class="">{[ process.user.name ]}</a>.
					<small>{[ process.created | date:"dd MMM yyyy HH:mm" ]}</small>
					<div class="btn-group btn-group-sm btn-group-justified ml-2">
						<!--<a href="" ng-if="process.links.isAllowed('edit')" ng-click="editProcess(process)" title="Edit process" class="btn btn-outline-primary"><i class="fa fa-pencil"></i></a>-->
						<a href="{[process.links.getHref()]}" title="View process" class="btn btn-outline-primary"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div ng-repeat="version in process.versions" class="mb-1">

			<div class="d-flex rounded border my-1" ng-class="{'border-primary':isVersionSelected(version)}">
		
				<div class="align-self-center pl-2">
					<input type="checkbox" 
						ng-checked="isVersionSelected(version)"
						ng-click="toggleVersion(version)">
					<span>{[ version.name ]}</span>
				</div>

				<form method="POST" action="{[ version.links.getHref('excel') ]}" class="ml-auto">
					<!--<input ng-repeat="v in selection.versions" 
						type="checkbox" checked=true name="versions[]" value="{[v]}" class="d-none">-->
					<input ng-repeat="s in selection.stages" 
						type="checkbox" checked=true name="stages[]" value="{[s]}" class="d-none">
					<input ng-repeat="h in selection.hints" 
						type="checkbox" checked=true name="hints[]" value="{[h]}" class="d-none">
					<input ng-repeat="r in selection.reasons" 
						type="checkbox" checked=true name="reasons[]" value="{[r]}" class="d-none">
					<input ng-repeat="r in selection.influences" 
						type="checkbox" checked=true name="influences[]" value="{[r]}" class="d-none">
					<input ng-repeat="r in selection.simulations" 
						type="checkbox" checked=true name="simulations[]" value="{[r]}" class="d-none">
					<input ng-repeat="r in selection.notes" 
						type="checkbox" checked=true name="notes[]" value="{[r]}" class="d-none">
					<button type="submit" value="File" class="btn btn-sm btn-primary pull-block m-1" 
						ng-disabled="!isVersionSelected(version)"/>
						<i class="fa fa-file"></i>
					</button>
				</form>
			</div>

			<div ng-if="version.stagesLoading" class="py-2 text-center">
				<i class="fa fa-spin fa-circle-o-notch"></i>
			</div>
			<div class="" ng-if="isVersionSelected(version)">
				<div class="row">				
					<div ng-if="version.stagesLoaded" ng-repeat="stage in version.stages" class="col">
						<div class="border rounded" ng-class="{'border-primary':isStageSelected(stage)}">
							<div class="d-flex rounded my-1">
								<div class="align-self-center pl-2">
									<input type="checkbox" 
									ng-checked="isStageSelected(stage)"
									ng-click="toggleStage(stage)">
									<span>{[ stage.name ]}</span>
								</div>
							</div>
							<div class="text-center">
								<img ng-repeat="img in stage.images" ng-src="{[ img.links.getHref() ]}" class="stage-img"/>
							</div>
						</div>

						<div ng-if="stage.hintsLoading" class="py-2 text-center">
							<i class="fa fa-spin fa-circle-o-notch"></i>
						</div>
						<div class="my-1 border rounded"
							ng-if="isStageSelected(stage)"
							ng-repeat="hint in stage.hints"
							ng-class="{'border-primary':isHintSelected(hint)}">
							<div class="d-flex">
								<input type="checkbox" class="align-self-center mx-1" 
									ng-disabled="!isStageSelected(stage)"
		  							ng-checked="isHintSelected(hint)"
									ng-click="toggleHint(hint)">
								<div class="p-1 rounded flex-fill"
									 ng-class="{'bg-light border':isHintSelected(hint)}">
									<span class="badge badge-{[hint.color]} mr-2">{[hint.priority]}</span>
									{[ hint.name ]}
								</div>
							</div>
							<div class="desc small px-1"
			   					ng-if="hint.description" 
		   						ng-bind-html="hint.description"
		   					></div>
							<div class="m-1 ml-2"
		   						ng-if="hint.reasons.length && isHintSelected(hint)" 
								ng-repeat="(r, reason) in hint.reasons">
								<input type="checkbox" class="align-self-center mx-1" 
									ng-disabled="!isHintSelected(hint)"
		  							ng-checked="isReasonSelected(reason)"
									ng-click="toggleReason(reason)">
								<small class="font-weight-bold"
								>Reason {[ r+1 ]}</small>
								<div class="d-flex flex-row m-1"
		  							ng-if="isReasonSelected(reason)"
									ng-repeat="note in reason.notes" 
	  							>
									<input type="checkbox" class="align-self-center mx-1" 
										ng-disabled="!isReasonSelected(reason)"
		  								ng-checked="isNoteSelected(note)"
										ng-click="toggleNote(note)">
									<div class="desc rounded p-1"
										ng-bind-html="note" 
	 									ng-class="{'bg-light border':isNoteSelected(note)}"
									></div>
								</div>
								<!-- Influence -->
								<div class="mt-1 ml-2"
								   ng-if="reason.influences.length && isReasonSelected(reason)" 
								   ng-repeat="(i, influence) in reason.influences">
									<input type="checkbox" class="align-self-center mx-1" 
										ng-disabled="!isReasonSelected(reason)"
		  								ng-checked="isInfluenceSelected(influence)"
										ng-click="toggleInfluence(influence)">
									<small class="font-weight-bold">Influence {[ r+1 ]}.{[ i+1 ]}</small>
									<div class="d-flex flex-row m-1"
		  								ng-if="isInfluenceSelected(influence)"
										ng-repeat="note in influence.notes" 
									>
										<input type="checkbox" class="align-self-center mr-1" 
											ng-disabled="!isInfluenceSelected(influence)"
		  									ng-checked="isNoteSelected(note)"
											ng-click="toggleNote(note)">
										<div class="desc rounded p-1"
											ng-bind-html="note" 
	 										ng-class="{'bg-light border':isNoteSelected(note)}"
										></div>
									</div>
									<div class="mt-1 ml-2"
			  							 ng-if="influence.simulations.length && isInfluenceSelected(influence)" 
										 ng-repeat="(s, simulation) in influence.simulations" 
									>
										<div class="d-flex">
											<input type="checkbox" class="align-self-center mx-1" 
												ng-disabled="!isInfluenceSelected(influence)"
		  										ng-checked="isSimulationSelected(simulation)"
												ng-click="toggleSimulation(simulation)">
											<div class="small p-1 rounded" ng-class="{'bg-light border':isSimulationSelected(simulation)}">
												<div class="small font-weight-bold">Simulation {[ r+1 ]}.{[ i+1 ]}.{[s+1]}</div>
												<span class="font-weight-bold text-{[simulation.stateColor()]}">{[ simulation.stateLabel() ]}</span>
												<span ng-if="simulation.who">{[simulation.who.name]}</span>
												<span ng-if="simulation.when"class="small text-center">{[ simulation.when | date:"dd MMMyy"]}</span>
											</div>
										</div>
										<small class="ml-4 font-weight-bold"
											ng-if="simulation.suggestions.length && isSimulationSelected(simulation)" 
										>Suggestions</small>
										<div class="d-flex flex-row m-1"
											ng-if="isSimulationSelected(simulation)" 
											ng-repeat="note in simulation.suggestions">
											<input type="checkbox" class="align-self-center mr-1"
												ng-disabled="!isSimulationSelected(simulation)"
		  										ng-checked="isNoteSelected(note)"
												ng-click="toggleNote(note)">
											<div class="desc rounded p-1"
												ng-bind-html="note" 
	 											ng-class="{'bg-light border':isNoteSelected(note)}"
											></div>
										</div>
										<small class="ml-4 font-weight-bold"
											ng-if="simulation.effects.length && isSimulationSelected(simulation)" 
										>Effects</small>
										<div class="d-flex flex-row m-1"
											ng-if="isSimulationSelected(simulation)" 
											ng-repeat="note in simulation.effects">
											<input type="checkbox" class="align-self-center mr-1"
												ng-disabled="!isSimulationSelected(simulation)"
		  										ng-checked="isNoteSelected(note)"
												ng-click="toggleNote(note)">
											<div class="desc rounded p-1"
												ng-bind-html="note" 
	 											ng-class="{'bg-light border':isNoteSelected(note)}"
											></div>
										</div>
										<small class="ml-4 font-weight-bold"
											ng-if="simulation.preventions.length && isSimulationSelected(simulation)" 
										>Preventions</small>
										<div class="d-flex flex-row m-1"
											ng-if="isSimulationSelected(simulation)" 
											ng-repeat="note in simulation.preventions">
											<input type="checkbox" class="align-self-center mr-1"
												ng-disabled="!isSimulationSelected(simulation)"
		  										ng-checked="isNoteSelected(note)"
												ng-click="toggleNote(note)">
											<div class="desc rounded p-1"
												ng-bind-html="note" 
	 											ng-class="{'bg-light border':isNoteSelected(note)}"
											></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>

	</ng-controller>

{% endblock body %}

