{% extends 'layout/_layout.twig' %}
{% block script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ basePath() }}/js/custom/report.js"></script>
{% endblock script %}
{% block style %}
	{{ parent() }}
.form-check-label p {
	margin: 0;
}
{% endblock style %}

{% block body %}


	{{ headTitle(entity.title) }}
	<ng-controller
		ng-controller="_ProcessReportCtrl" 
		ng-init="init({{ json(hal().renderEntity(hal)) | escape }}, {{ values | json_encode }})"
  	>

		<h2 class="m-2">{[ process.title ]}<small class="ml-2 text-muted">| Report</small></h2>

		{[ selection ]}
		
		<div ng-repeat="version in process.versions" class="">
			<div class="">
				<a class="btn btn-sm btn-outline-primary" 
					ng-class="{active:selection.versions.indexOf(version.id) > -1}"
					ng-click="toggleVersion(version)">
					{[version.name]}
				</a>
			</div>
			<div class="">
				<div class="row">
					<div ng-repeat="stage in version.stages" class="col px-1">
						<a class="btn btn-sm btn-outline-primary btn-block" 
							ng-class="{active:selection.stages.indexOf(stage.id) > -1}"
							ng-click="toggleStage(stage)">
							<i class="fa fa-check"></i>
							{[stage.name]}
						</a>
						<div class="text-center">
							<img ng-repeat="img in stage.images" 
								ng-src="{[ img.links.getHref() ]}" class="stage-img"/>
						</div>
						<div ng-if="stage.hints.length" class="font-weight-bold">Errors</div>
						<div ng-repeat="hint in stage.hints" class="my-1 border rounded"
							ng-class="{'border-secondary':selection.hints.indexOf(hint.id) > -1}">
							<div class="btn-group btn-group-sm">
								<a class="btn btn-sm btn-outline-{[ hint.color ]}" 
									ng-class="{active:selection.hints.indexOf(hint.id) > -1}"
									ng-click="toggleHint(hint)"
		   							style="padding:4px;"
									>
									<i class="fa fa-check"></i>
								</a>
								<a class="btn btn-sm btn-outline-{[ hint.color ]}" 
									ng-click="toggleHint(hint)"
									ng-class="selection.hints.indexOf(hint.id) > -1 ?'active':'disabled'"
		 						>
									<span class="badge badge-{[hint.color]}">{[hint.priority]}</span>
									{[ hint.name ]}
								</a>
							</div>
							<div class="desc px-1"
			   					ng-if="hint.description" 
		   						ng-bind-html="hint.description"
		   					></div>
							<div ng-if="hint.reasons.length" class="ml-2">
								<div ng-repeat="(r, reason) in hint.reasons" class="bg-light mt-1 mr-1 mb-1">
									<div class="btn-group btn-group-sm">
										<a class="btn btn-sm btn-outline-primary" 
											ng-class="{active:selection.hints.indexOf(hint.id) > -1}"
											ng-click="toggleHint(hint)"
		   									style="padding:4px;"
		   								>
											<i class="fa fa-check"></i>
										</a>
										<a href="" class="btn btn-outline-primary"
											ng-click="toggleHint(hint)"
											ng-class="selection.hints.indexOf(hint.id) > -1 ? 'active' : 'disabled'"
										>Reason {[ r+1 ]}</a>
									</div>
									<div ng-repeat="note in reason.notes" class="d-flex flex-row m-1">
										<input type="checkbox" class="align-self-center mr-1">
										<div ng-bind-html="note" class="desc p-1">
										</div>
									</div>
									<!-- Influence -->
									<div ng-if="reason.influences.length" ng-repeat="(i, influence) in reason.influences" class="mt-1 ml-2">
										<div class="btn-group btn-group-sm">
											<a class="btn btn-outline-primary" 
												ng-class="{active:selection.hints.indexOf(hint.id) > -1}"
												ng-click="toggleHint(hint)"
		   										style="padding:4px;"
		   									><i class="fa fa-check"></i></a>
											<a href="" class="btn btn-outline-primary"
												ng-click="toggleHint(hint)"
												ng-class="selection.hints.indexOf(hint.id) > -1 ? 'active' : 'disabled'"
											>Influence {[ r+1 ]}.{[ i+1]}</a>
										</div>
										<div ng-repeat="note in influence.notes" class="d-flex flex-row m-1">
											<input type="checkbox" class="align-self-center mr-1">
											<div ng-bind-html="note" class="desc p-1">
											</div>
										</div>
										<div class="mt-1 ml-2"
			  								 ng-if="influence.simulations.length" 
											 ng-repeat="(s, simulation) in influence.simulations" 
										>
											<div class="btn-group btn-group-sm">
												<a class="btn btn-outline-primary" 
													ng-class="{active:selection.hints.indexOf(hint.id) > -1}"
													ng-click="toggleHint(hint)"
		   											style="padding:4px;"
		   										>
													<i class="fa fa-check"></i>
												</a>
												<a href="" class="btn btn-outline-primary"
													ng-click="toggleHint(hint)"
													ng-class="selection.hints.indexOf(hint.id) > -1 ? 'active' : 'disabled'"
												>Simulation {[r+1]}.{[i+1]}.{[s+1]}</a>
											</div>
											<div class="small">
												<span class="font-weight-bold text-{[simulation.stateColor()]}">{[ simulation.stateLabel() ]}</span>
												<span ng-if="simulation.who">{[simulation.who.name]}</span>
												<span ng-if="simulation.when"class="small text-muted text-center">{[ simulation.when | date:"dd MMMyy"]}</span>
											</div>
											<small ng-if="simulation.suggestions.length" class="font-weight-bold">Suggestions</small>
											<div ng-repeat="note in simulation.suggestions" class="d-flex flex-row m-1">
												<input type="checkbox" class="align-self-center mr-1">
												<div ng-bind-html="note" class="desc p-1"
													 ng-class="{'border border-secondary':selection.hints.indexOf(hint.id) > -1}">
												</div>
											</div>
											<small ng-if="simulation.effects.length" class="font-weight-bold">Effects</small>
											<div ng-repeat="note in simulation.effects" class="d-flex flex-row m-1">
												<input type="checkbox" class="align-self-center mr-1">
												<div ng-bind-html="note" class="desc p-1"
													 ng-class="{'border border-secondary':selection.hints.indexOf(hint.id) > -1}">
												</div>
											</div>
											<small ng-if="simulation.preventions.length" class="font-weight-bold">Preventions</small>
											<div ng-repeat="note in simulation.preventions" class="d-flex flex-row m-1">
												<input type="checkbox" class="align-self-center mr-1">
												<div ng-bind-html="note" class="desc p-1"
													 ng-class="{'border border-secondary':selection.hints.indexOf(hint.id) > -1}">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>

	</ng-controller>

{% endblock body %}

