{% extends 'layout/_layout.twig' %}
{% block script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ basePath() }}/js/custom/report.js"></script>
{% endblock script %}
{% block style %}
	{{ parent() }}
.form-check-label p {
	margin: 0;
}
{% endblock style %}

{% block body %}


	{{ headTitle(entity.title) }}
	<ng-controller
		ng-controller="_ProcessReportCtrl" 
		ng-init="init({{ json(hal().renderEntity(hal)) | escape }}, {{ values | json_encode }})"
  	>

		<h2 class="m-2">{[ process.title ]}<small class="ml-2 text-muted">| Report</small></h2>

		<form method="POST" action="{[ process.links.getHref('pdf') ]}">
			<input type="submit" value="PDF" class="btn btn-success pull-right" />
		</form>

		<div ng-repeat="version in process.versions" class="">
			<div class="">
				<a class="btn btn-sm btn-outline-primary" 
					ng-class="{active:selection.versions.indexOf(version.id) > -1}"
					ng-click="toggleVersion(version)">
					{[version.name]}
				</a>
			</div>
			<div class="" ng-if="isVersionSelected(version)">
				<div class="row">
					<div ng-repeat="stage in version.stages" class="col px-1">
						<a class="btn btn-sm btn-outline-primary btn-block" 
							ng-class="{'btn-outline-primary active':isStageSelected(stage)}"
							ng-click="toggleStage(stage)">
							<i class="fa fa-check"></i>
							{[stage.name]}
						</a>
						<div class="text-center">
							<img ng-repeat="img in stage.images" 
								ng-src="{[ img.links.getHref() ]}" class="stage-img"/>
						</div>
						<div class="my-1 border rounded"
							ng-if="isStageSelected(stage)"
							ng-repeat="hint in stage.hints"
							ng-class="{'border-primary':isHintSelected(hint)}">
							<div class="d-flex">
								<input type="checkbox" class="align-self-center mx-1" 
									ng-disabled="!isStageSelected(stage)"
		  							ng-checked="isHintSelected(hint)"
									ng-click="toggleHint(hint)">
								<div class="p-1 rounded flex-fill"
									 ng-class="{'bg-light border':isHintSelected(hint)}">
									<span class="badge badge-{[hint.color]} mr-2">{[hint.priority]}</span>
									{[ hint.name ]}
								</div>
							</div>
							<div class="desc small px-1"
			   					ng-if="hint.description" 
		   						ng-bind-html="hint.description"
		   					></div>
							<div class="m-1 ml-2"
		   						ng-if="hint.reasons.length && isHintSelected(hint)" 
								ng-repeat="(r, reason) in hint.reasons">
								<input type="checkbox" class="align-self-center mx-1" 
									ng-disabled="!isHintSelected(hint)"
		  							ng-checked="isReasonSelected(reason)"
									ng-click="toggleReason(reason)">
								<small class="font-weight-bold"
								>Reason {[ r+1 ]}</small>
								<div class="d-flex flex-row m-1"
		  							ng-if="isReasonSelected(reason)"
									ng-repeat="note in reason.notes" 
	  							>
									<input type="checkbox" class="align-self-center mx-1" 
										ng-disabled="!isReasonSelected(reason)"
		  								ng-checked="isNoteSelected(note)"
										ng-click="toggleNote(note)">
									<div class="desc rounded p-1"
										ng-bind-html="note" 
	 									ng-class="{'bg-light border':isNoteSelected(note)}"
									></div>
								</div>
								<!-- Influence -->
								<div class="mt-1 ml-2"
								   ng-if="reason.influences.length && isReasonSelected(reason)" 
								   ng-repeat="(i, influence) in reason.influences">
									<input type="checkbox" class="align-self-center mx-1" 
										ng-disabled="!isReasonSelected(reason)"
		  								ng-checked="isInfluenceSelected(influence)"
										ng-click="toggleInfluence(influence)">
									<small class="font-weight-bold">Influence {[ r+1 ]}.{[ i+1 ]}</small>
									<div class="d-flex flex-row m-1"
		  								ng-if="isInfluenceSelected(influence)"
										ng-repeat="note in influence.notes" 
									>
										<input type="checkbox" class="align-self-center mr-1" 
											ng-disabled="!isInfluenceSelected(influence)"
		  									ng-checked="isNoteSelected(note)"
											ng-click="toggleNote(note)">
										<div class="desc rounded p-1"
											ng-bind-html="note" 
	 										ng-class="{'bg-light border':isNoteSelected(note)}"
										></div>
									</div>
									<div class="mt-1 ml-2"
			  							 ng-if="influence.simulations.length && isInfluenceSelected(influence)" 
										 ng-repeat="(s, simulation) in influence.simulations" 
									>
										<div class="d-flex">
											<input type="checkbox" class="align-self-center mx-1" 
												ng-disabled="!isInfluenceSelected(influence)"
		  										ng-checked="isSimulationSelected(simulation)"
												ng-click="toggleSimulation(simulation)">
											<div class="small p-1 rounded" ng-class="{'bg-light border':isSimulationSelected(simulation)}">
												<span class="font-weight-bold text-{[simulation.stateColor()]}">{[ simulation.stateLabel() ]}</span>
												<span ng-if="simulation.who">{[simulation.who.name]}</span>
												<span ng-if="simulation.when"class="small text-center">{[ simulation.when | date:"dd MMMyy"]}</span>
											</div>
										</div>
										<small class="font-weight-bold"
											ng-if="simulation.suggestions.length && isSimulationSelected(simulation)" 
										>Suggestions</small>
										<div class="d-flex flex-row m-1"
											ng-if="isSimulationSelected(simulation)" 
											ng-repeat="note in simulation.suggestions">
											<input type="checkbox" class="align-self-center mr-1"
												ng-disabled="!isSimulationSelected(simulation)"
		  										ng-checked="isNoteSelected(note)"
												ng-click="toggleNote(note)">
											<div class="desc rounded p-1"
												ng-bind-html="note" 
	 											ng-class="{'bg-light border':isNoteSelected(note)}"
											></div>
										</div>
										<small class="font-weight-bold"
											ng-if="simulation.effects.length && isSimulationSelected(simulation)" 
										>Effects</small>
										<div class="d-flex flex-row m-1"
											ng-if="isSimulationSelected(simulation)" 
											ng-repeat="note in simulation.effects">
											<input type="checkbox" class="align-self-center mr-1"
												ng-disabled="!isSimulationSelected(simulation)"
		  										ng-checked="isNoteSelected(note)"
												ng-click="toggleNote(note)">
											<div class="desc rounded p-1"
												ng-bind-html="note" 
	 											ng-class="{'bg-light border':isNoteSelected(note)}"
											></div>
										</div>
										<small class="font-weight-bold"
											ng-if="simulation.preventions.length && isSimulationSelected(simulation)" 
										>Preventions</small>
										<div class="d-flex flex-row m-1"
											ng-if="isSimulationSelected(simulation)" 
											ng-repeat="note in simulation.preventions">
											<input type="checkbox" class="align-self-center mr-1"
												ng-disabled="!isSimulationSelected(simulation)"
		  										ng-checked="isNoteSelected(note)"
												ng-click="toggleNote(note)">
											<div class="desc rounded p-1"
												ng-bind-html="note" 
	 											ng-class="{'bg-light border':isNoteSelected(note)}"
											></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>

	</ng-controller>

{% endblock body %}

