{% extends 'ma/process/base.twig' %}

{% block style %}
	{[ parent() ]}

	<style>
		ul.hints {
			padding: 0;
		}
		ul.hints li {
			padding: 2px 8px;;
		}
		ul.hints li.active {
			background: lightgray;
		}

		.previouses {
		}
		.previouses .item {
		}
		.previouses .stages {
			border: 1px solid red; 
			overflow: hidden;
			padding: 4px; 
		}
		.previouses .parent {
			border: 1px solid blue; 
			padding: 4px; 
			float: left; 
		}
		.previouses .hint {
			border: 1px solid lightgray; 
			text-align: center;
			padding: 5px; 
			float:left; 
			width: 200px;
		}
		.previouses .hint .level {
			background: lightgray;
		}
	</style>

{% endblock style %}

{% block template %}
	
	<div class="col-md-12">
		<h2>{{ entity.process }}</h2><a class="" href="{{ url('process/detail', {'id':entity.process.id}) }}">return</a>
		<p>{{ entity.text }}</p>
		<div class="row">
			{% for index, stage in process.stages() %}
				{{ partial('partial/stage/col', {'stage': stage, 'index': index, 'entity': entity}) }}
			{% endfor %}
		</div>
	</div>

	<div class="previouses">
	{% for parent in entity.parents %}
		<div class="item my-2">
			{{ partial('partial/hint/item', {'item': parent}) }}
		</div>
	{% endfor %}
	</div>

	<div style="background:lightgray;">
		{{ entity.text }}
	</div>

	<!--
	<div>
	{% for child in entity.children %}
		<div>
			{{ partial('partial/hint/item', {'item': child}) }}
		</div>
	{% endfor %}
	</div>
	-->

{% endblock template %}

