{% extends 'ma/hint/base.twig' %}

{% block main %}

	<ul class="nav nav-pills">
		<li class="nav-item"><a href="" class="nav-link" ng-class="{active: tab == 'x'}" ng-click="tab = 'x'"><i class="fa fa-eye"></i> x</a></li>
		<li class="nav-item"><a href="" class="nav-link" ng-class="{active: tab == 'y'}" ng-click="tab = 'y'"><i class="fa fa-eye"></i> y</a></li>
	</ul>

	<div ng-if="tab == 'x'" class="d-flex eye eye-x">
		{% if not entity.parents.isEmpty %}
			<div class="d-flex flex-column flex-fill collection parents">
			{% for index, parent in entity.parents %}
				{{ partial('partial/hint/item-x', {
					'item': parent, 
					'odd': index is odd, 
					'sParents': true, 
					'sChildren': false,
				}) }}
			{% endfor %}
			</div>
		{% endif %}

		<div class="flex-fill align-self-center current">
			<div class="d-flex flex-column">
				{{ partial('partial/hint/item-x', {
					'item': entity, 
					'sParents': false, 
					'sChildren': false,
				}) }}
			</div>
		</div>

		{% if not entity.children.isEmpty %}
			<div class="d-flex flex-column flex-fill collection children">
			{% for index, child in entity.children %}
				{{ partial('partial/hint/item-x', {
					'item': child, 
					'odd': index is odd, 
					'sParents': false, 
					'sChildren': true,
				}) }}
			{% endfor %}
			</div>
		{% endif %}
	</div>

	<div ng-if="tab == 'y'" class="d-flex flex-column eye eye-y">
		{% if not entity.parents.isEmpty %}
			<div class="d-flex flex-fill collection parents">
			{% for index, parent in entity.parents %}
				{{ partial('partial/hint/item-y', {
					'item': parent, 
					'odd': index is odd, 
					'sParents': true, 
					'sChildren': false,
				}) }}
			{% endfor %}
			</div>
		{% endif %}

		<div class="flex-fill align-self-center current">
			<div class="d-flex flex-column">
				{{ partial('partial/hint/item-y', {
					'item': entity, 
					'sParents': false, 
					'sChildren': false,
				}) }}
			</div>
		</div>

		{% if not entity.children.isEmpty %}
			<div class="d-flex flex-fill collection children">
			{% for index, child in entity.children %}
				{{ partial('partial/hint/item-y', {
					'item': child, 
					'odd': index is odd, 
					'sParents': false, 
					'sChildren': true,
				}) }}
			{% endfor %}
			</div>
		{% endif %}
	</div>

{% endblock main %}
