{% extends 'ma/hint/base.twig' %}

{% block content %}

	<h2>{{ entity.name }} <small class="text-muted">| {{ entity.type.operation.longName }}</small></h2>
	<div>{{ entity.type.description | raw }}</div>
	<hr>
	<div><a href="{{ url('process/detail', {id:entity.process.id}) }}">{{ entity.process.name }}</a></div>
	<div>{{ entity.description | raw }}</div>
	<hr>

	<div class="btn-group">
		<a href="" class="btn btn-sm btn-primary" ng-class="{active: !tab || tab == 'x'}" ng-click="tab = 'x'"><i class="fa fa-eye"></i> x</a>
		<a href="" class="btn btn-sm btn-primary" ng-class="{active: tab == 'y'}" ng-click="tab = 'y'"><i class="fa fa-eye"></i> y</a>
	</div>

	<div ng-if="!tab || tab == 'x'" class="d-flex eye eye-x">
		{% if not entity.parents.isEmpty %}
			<div class="d-flex flex-column flex-fill collection parents">
			{% for index, parent in entity.parents %}
				{{ partial('partial/hint/item-x', {
					'item': parent, 
					'odd': index is odd, 
					'sParents': true, 
					'sChildren': false,
				}) }}
			{% endfor %}
			</div>
		{% endif %}

		<div class="flex-fill align-self-center current">
			<div class="d-flex flex-column">
				{{ partial('partial/hint/item-x', {
					'item': entity, 
					'sParents': false, 
					'sChildren': false,
				}) }}
			</div>
		</div>

		{% if not entity.children.isEmpty %}
			<div class="d-flex flex-column flex-fill collection children">
			{% for index, child in entity.children %}
				{{ partial('partial/hint/item-x', {
					'item': child, 
					'odd': index is odd, 
					'sParents': false, 
					'sChildren': true,
				}) }}
			{% endfor %}
			</div>
		{% endif %}
	</div>

	<div ng-if="tab == 'y'" class="d-flex flex-column eye eye-y">
		{% if not entity.parents.isEmpty %}
			<div class="d-flex flex-fill collection parents">
			{% for index, parent in entity.parents %}
				{{ partial('partial/hint/item-y', {
					'item': parent, 
					'odd': index is odd, 
					'sParents': true, 
					'sChildren': false,
				}) }}
			{% endfor %}
			</div>
		{% endif %}

		<div class="flex-fill align-self-center current">
			<div class="d-flex flex-column">
				{{ partial('partial/hint/item-y', {
					'item': entity, 
					'sParents': false, 
					'sChildren': false,
				}) }}
			</div>
		</div>

		{% if not entity.children.isEmpty %}
			<div class="d-flex flex-fill collection children">
			{% for index, child in entity.children %}
				{{ partial('partial/hint/item-y', {
					'item': child, 
					'odd': index is odd, 
					'sParents': false, 
					'sChildren': true,
				}) }}
			{% endfor %}
			</div>
		{% endif %}
	</div>

	{% if entity.type.hints.count() > 1 %}
		<h4>Errores del mismo tipo</h4>
		<ul>
		{% for item in entity.type.hints %}
			{% if item != entity %}
			<li>
				<a href="{{ url('process/detail', {id:item.process.id}) }}">{{ item.process.name }}</a>
				<small>. {{ item.operation.longName }} <a href="{{ url('process/hint/detail', {id:item.id}) }}">(Stage {{item.stage.order }})</a></small>
			</li>
	{% endif %}
		{% endfor %}
		</ul>
	{% endif %}

{% endblock content %}
