{{ docType() }}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}ZF2 {{ translate('Site title') }}{% endblock title %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock meta %}

        <!-- Le styles -->
        <link href="{{ basePath() }}/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
		<!--<link href="{{ basePath() }}/css/modal.css" media="screen" rel="stylesheet" type="text/css">-->
        <link href="{{ basePath() }}/css/v4.1/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
		<link rel='stylesheet' href='/js/node_modules/textangular/dist/textAngular.css'>
        <link href="{{ basePath() }}/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ basePath() }}/css/custom/custom.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ basePath() }}/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
        
        {% block style %}{% endblock style %}
    
        <!-- Scripts -->
        <script type="text/javascript" src="{{ basePath() }}/js/jquery.min.js"></script>
		<script type="text/javascript" src="{{ basePath() }}/js/jquery-ui-1.12.1/jquery-ui.min.js"></script> <!-- required for border css animations -->
        <!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/js/respond.min.js"></script><![endif]-->
        <!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/js/html5shiv.js"></script><![endif]-->
        <script type="text/javascript" src="{{ basePath() }}/js/v4.1/bootstrap.min.js"></script>

        <script type="text/javascript" src="{{ basePath() }}/js/node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="{{ basePath() }}/js/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="{{ basePath() }}/js/node_modules/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="{{ basePath() }}/js/node_modules/angular-resource/angular-resource.min.js"></script>

		<script src='/js/node_modules/textangular/dist/textAngular-rangy.min.js'></script>
		<script src='/js/node_modules/textangular/dist/textAngular-sanitize.min.js'></script>
		<script src='/js/node_modules/textangular/dist/textAngular.min.js'></script>

		<script type="text/javascript" src="{{ basePath() }}/js/custom/custom.js"></script>

        {% block script %}{% endblock script %}
    </head>

    <body ng-app="myApp">
		<!-- Just an image -->
		<nav class="navbar flex-sm-nowrap navbar-light bg-light sticky-top p-0">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/" style="background:#EEE;">
				<img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="IurretaLHI">IurretaLHI
			</a>
			<input 
				type="search" 
				class="form-control w-100" 
				aria-label="Search" 
				placeholder="Search" 
				style="
				padding: .75rem 1rem;
				border-width: 0;
				border-radius: 0;
			">
			<button class="btn btn-default my-0 rounded-0" type="submit">
				<span class="fa fa-search"></span>
			</button>
		
			<button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
	  	</nav>

		<div class="collapse navbar-collapse d-md-none" id="navbarSupportedContent">
			{# setAddClassToListItem(true) //Passes li class to a tag #}
			{{ navigation('navigation').menu().setUlClass('navbar-nav mr-auto').setMinDepth(0).setMaxDepth(2).setRenderInvisible(true) | raw }}
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="min-width:400px;">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			<ul class="navbar-nav ml-auto">
				{% if zfcUserIdentity() %}
					<li class="nav-link">
						Hello <a href="{{ url('user/detail', {'id': zfcUserIdentity().id }) }}">{{ zfcUserIdentity().name }}</a>
					</li>
					<li class="nav-link">
						<a href="{{ url('zfcuser/logout') }}">Logout</a>
					</li>
				{% else %}
					<li class="nav-link">
						<a href="{{ url('zfcuser/login') }}">Login</a>
					</li>

				{% endif %}
			</ul>
		</div>

		<div class="container-fluid">
			<div class="col-md-2 d-none d-md-block bg-light sidebar" style="">
				{% block sidebar %}
				<div class="sidebar-sticky">
					{{ navigation('navigation').menu()
						.setUlClass('nav flex-column')
						.setMinDepth(0).setMaxDepth(2)
						.setRenderInvisible(true) | raw }}
				</div>
				{% endblock sidebar %}
			</div>

			<div class="col-md-9 ml-sm-auto col-lg-10" style="">
				<div class="container">
					<div class="breadcrumb">
						{{ navigation('navigation').breadcrumbs().setSeparator(" / ").setRenderInvisible(true) | raw }}
					</div>
					{% block body %}{{ content|raw }}{% endblock body %}
				</div>
			</div>

        </div> <!-- /container -->
        <footer class="container" style="padding: 20px 0;">
			<hr>
			<div class="col-md-12"><p>&copy; 2018</p></div>
        </footer>
	</body>
</html>

