<div class="d-flex flex-column flex-fill item stage-{{ item.stage.order }} {% if odd %}odd{% else %}even{% endif %}" 
	>
	{% if sParents and not item.parents.isEmpty %}
		<div class="d-flex">
			{% for parent in item.parents %}
				{{ partial('partial/hint/item-y', {
					'item': parent, 
					'sParents': sParents, 
					'sChildren': sChildren,
					'odd': odd,
				}) }}
			{% endfor %}
		</div>
	{% endif %}
	<div class="hint flex-fill align-self-center mx-auto">
		<p class="level">Stage {{ item.stage.order }}</p>
		<div class="small text-muted">{{ item.operation }}</div>
		<a href="{{url('process/hint/detail', {id: item.id}) }}" class="btn btn-sm btn-{{ item.color }}" style="white-space:normal">
			<span class="badge badge-light mr-2">{{ item.priority }}</span> {{ item.name }}
		</a>
	</div>
	{% if sChildren and not item.children.isEmpty %}
		<div class="d-flex">
			{% for child in item.children %}
				{{ partial('partial/hint/item-y', {
					'item': child, 
					'sParents': sParents, 
					'sChildren': sChildren,
					'odd': odd,
				}) }}
			{% endfor %}
		</div>
	{% endif %}
</div>
