{% extends 'layout/base-layout.twig' %}

{% block content %}
	<div class="col-md-12">
		<h2>{{ entity.name }}</h2>
		<a href="{{ url('zfcuser/changepassword') }}">Chang password</a>
		<a href="{{ url('zfcuser/changeemail') }}">Chang email</a>
		<a href="{{ url('user/detail', {id: entity.id, 'action': 'edit'}) }}">edit</a>
	</div>

	<div class="col-md-12" 
		ng-cloak
		ng-controller="_CollectionCtrl"
		ng-init="init({{ json(hal().renderCollection(actionsHal)) | escape }}, 'MAAction')"
	>

		<h4>Actividad</h4>
		<div ng-repeat="item in collection.items" 
			class="py-2 my-1"
			ng-class="{first: $first, last: $last}"
			ng-mouseover="item.hover = true;"
			ng-mouseleave="item.hover = false;"
			ng-init="item = item;"
			ng-include="'/js/custom/tpl/partial/action.html'"
			style="border-bottom: 1px solid #eee"
		>
		</div>

		<div style="text-align: center; margin-top: 1rem;">
				<p><a href="" ng-if="collection.links.has('next')" ng-click="more()">.view previouses.</a></p>
				<p class="small" ng-if="collection.page_count != collection.page">Showing {[ collection.page * collection.page_size ]} items of {[ collection.total_items ]}</p>
				<p class="small" ng-if="collection.page_count == collection.page">Showing {[ collection.total_items ]} items of {[ collection.total_items ]}</p>
			</div>
		</div>
	</div>
{% endblock content %}
